/*-- scss:defaults --*/
$link-color: #F44C01; // Orange color

/*-- scss:rules --*/
.sidebar .nav .nav-link.active {
    color: $link-color !important;
  }
li > ul {
    margin-bottom: 0 !important;
}
